<!DOCTYPE html>
<html>
  <head>
      <title>Create Account Module</title>
  </head>
  <body>
    <h1>Create Account</h1>
    <form method="post" action="/">
      <input type="text" name="name" placeholder="Type your name here"/>
      <input type="email" name="email" placeholder="Type your email here"/>
      <input type="password" name="password" placeholder="Type your password here"/>
      <input type="password" name="confirm" placeholder="Confirm your password"/>
      <input type="submit"/>
    </form>
  </body>
</html>
