<!DOCTYPE html>
<html>
  <head>
    <title>Account Dashboard</title>
  </head>
  <body>
    <ul>
        <li> User: <%= user.name %>, Email: <%= user.email %> </li
    </ul>
    <a href="./accountdashboard">Back</a>
  </body>
</html>
